<%- include('../partials/header') %>

    <div class="container mt-5">
        <h2>Edit Blog</h2>

        <% if (errors?.length) { %>
            <div class="alert alert-danger">
                <% errors.forEach(error=> { %>
                    <p>
                        <%= error.msg %>
                    </p>
                    <% }); %>
            </div>
            <% } %>

                <form action="/blogs/edit/<%= blog._id %>" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Blog Title</label>
                        <input type="text" class="form-control" id="title" name="title" value="<%= blog.title %>"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Blog Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3"
                            required><%= blog.description %></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Blog Image</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                    <div class="my-2" style="width: 100px">
                        <img src="/uploads/<%= blog.image %>" class="img-fluid" alt="Blog Image">
                    </div>
                    <button type="submit" class="btn btn-primary">Update Blog</button>
                </form>
    </div>

    <%- include('../partials/footer') %>